@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-martel text-primary-black;
}

.dome {
  mask-image: url("/Vector.svg");
  -webkit-mask-image: url("/Vector.svg");
  mask-size: 100% 100%;
}

a {
  @apply text-primary-blue hover:underline break-all;
}

.history>section {
  @apply pb-16 first:pt-16 flex flex-col gap-12;
}

.history>section>h2 {
  @apply text-h4 font-bold font-source-serif-4 text-center bg-secondary-yellow leading-[1.15] py-8;
}

.history>section>div,
.desc-text {
  @apply lg:mx-32 mx-4 px-4 lg:px-12 py-4 border-l-[4px] border-secondary-yellow;
}

ol {
  @apply pl-8;
}

ol>li {
  @apply list-decimal;
}