@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	@apply font-martel text-primary-black;
}

.dome {
    mask-image: url("/Vector.svg");
    -webkit-mask-image: url("/Vector.svg");
    mask-size: 100% 100%;
}

a {
    @apply text-primary-blue hover:underline;
}

  ol {
    @apply pl-8;
  }

  ol > li {
    @apply list-decimal;
  }