@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	@apply font-martel text-primary-black;
}

.dome {
    mask-image: url("/Vector.svg");
    -webkit-mask-image: url("/Vector.svg");
    mask-size: 100% 100%;
}

a {
    @apply text-primary-blue hover:underline;
}

.history > section {
  @apply border-b-2 border-secondar-teal pb-16 first:border-t-2 first:pt-16;
}

.history > section > h2 {
  @apply text-h4 col-span-3 font-bold font-source-serif-4 leading-[1.15];
}

.history > section > div {
  @apply col-span-9 pl-4;
}

ol {
  @apply pl-8;
}

ol > li {
  @apply list-decimal;
}