name: Build and Deploy (Exhibit)

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: read  

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Project
        run: pnpm build 
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLIC_DOMAIN: sacda.ca/exhibits/${{ vars.DESTINATION_DIR_NAME }}

      - name: Deploy to /var/www/sacda.ca/html/exhibits/...
        run: |
          # This syntax injects the variable from GitHub settings
          echo "Deploying to /var/www/sacda.ca/html/exhibits/${{ vars.DESTINATION_DIR_NAME }}"
          
          rsync -av --delete ./build/ /var/www/sacda.ca/html/exhibits/${{ vars.DESTINATION_DIR_NAME }}/